---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {frontmatter} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} />
	</head>

	<body class="flex flex-col max-sm:items-stretch md:items-center bg-slate-100">
		<Header />
		<main class="bg-slate-50 min-h-screen lg:w-4/5 pt-5">
			<div class="prose prose-slate dark:prose-invert max-w-max px-10 pb-10">
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
